/* brand color palette */
:root {
  --primary: rgba(68, 88, 119, 1);
  --secondary: rgba(146, 204, 206, 1);
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgba(238, 238, 247, 1);
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: var(--tertiary);
  background-color: var(--secondary);
  margin: 0;
  font-size: 4vw;
  line-height: 1;
}

header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  max-width: calc(50% - 1em);
  margin: 0;
  border: red dashed;
  padding: 0.5rem;
}

.dropdown,
#selectedTags,
#errorTags {
  margin-bottom: 0.2rem;
  text-align: center;
}

#selectedTags {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 0.5rem;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

/* swiper */
swiper-container {
  width: 600px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -300px;
}

swiper-slide {
  background-position: center;
  background-size: cover;
}

swiper-slide img {
  display: block;
  width: 100%;
}